---
import { Image } from "astro:assets";
import profile from "../assets/images/profile.jpeg";

import { Badge } from "./ui/Badge";
---

<div class="flex gap-3 justify-between w-full">
    <div class="flex flex-col gap-3">
        <h1 class="font-heading text-3xl font-semibold">👋 Hi, I'm Tushar!</h1>
        <p>commonly known <Badge>@macintushar</Badge> as on the Internet.</p>
    </div>
    <div>
        <Image
            src={profile}
            alt="Tushar Selvakumar"
            class="rounded-full size-60"
        />
    </div>
</div>
